<a href="https://colab.research.google.com/github/Rashedkhandoker/CSE-310/blob/master/A2_CT_2_18101038.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Que_1**

In [ ]:
a:int(input())
if a%2== 0 :
  print('even')
else :
  print('odd')

5
odd

## **Que_2**

In [ ]:
N=int(input())
if N>100 :
  print('invalid')
elif N<101 and N>79 :
  print ("A+")
elif N<80 and N>69 :
  print ("A")
elif N<70 and N>59 :
  print ("A-")
elif N<60 and N>49:
  print ("B")
elif N<50 and N>39:
  print ("C")
elif N<40 and N>32:
  print ("D")
else :
  print("F")

82
A+

# **Que_4**

In [ ]:
student_table={
      1 : {
        'Id':1,
        'First name':'peter',
        'Last name':'Lee',
        'Email':'plee@university.edu',
        'Year of Birth':1992,
        
      },
      2 :{
        'Id':2,
        'First name':'Jonathan',
        'Last name':'Edwards',
        'Email':'jedwards@university.edu',
        'Year of Birth':1994,
        
      },
      3 :{
        'Id':3,
        'First name':'Marilyn',
        'Last name':'Johnson',
        'Email':'mjohnson@university.edu',
        'Year of Birth':1993,
        
      },
      6 :{
        'Id':6,
        'First name':'Joe',
        'Last name':'Kim',
        'Email':'jkim@university.edu',
        'Year of Birth':1992,
        
      },
      12 :{
        'Id':12,
        'First name':'Haley',
        'Last name':'Martinez',
        'Email':'hmartinez@university.edu',
        'Year of Birth':1993,
        
      },

}
student_table[12]

{'Email': 'hmartinez@university.edu',
 'First name': 'Haley',
 'Id': 12,
 'Last name': 'Martinez',
 'Year of Birth': 1993}